discord==1.0.1
numpy==1.22.2
pymysql==0.10.1
pytz==2020.1
python-dateutil==2.4.1
validator_collection==1.5.0
discord-py-interactions==3.0.2
aiohttp>=3.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
